{% extends 'layout.html' %}

{% block content %}
<div class="content-container">
    <div class="back-button-container">
        <a href="{{ url_for('customer.display_results') }}" class="back-button">Back to Table</a>
    </div>
    {% if customer %}           
    <h1>Customer Table</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>CustomerID</th>
            <th>Recency</th>
            <th>Frequency</th>
            <th>Monetary</th>
            <th>RFM Score</th>
            <th>Segment</th>
            <th>CLV</th>
        </tr>
        {% for e in customer %}
        <tr>
            <td>{{ e.id }}</td>
            <td>{{ e.customer_id }}</td>
            <td>{{ e.recency }}</td>
            <td>{{ e.frequency }}</td>
            <td>{{ e.monetary }}</td>
            <td>{{ e.rfm_score }}</td>
            <td>{{ e.customer_group }}</td>
            <td>{{ e.clv }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

{% endblock %}
